body {
    margin-left: 60px;
    background-color: aqua;

}

h1 {
    text-align: center;

}

.cls {
    margin-bottom: 20px;
}
.hedder{
    text-align: center;
    color: red;
}
h1{
    text-align: center;
    color: red;
}